body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: url(../images/bg-desktop.svg) no-repeat center center;
    background-color: var(--primari-color-dark);
    max-width: var(--max-width-size);
    margin: 55px;

}

.main {
    display: grid;
    grid-template-areas: "logo logo"
        "conteudo-principal conteudo-principal"
        "footer footer";
    grid-template-columns: repeat(2, 1fr);
    max-width: var(--max-width-size);
    height: 100vh;
}

.logo {
    grid-area: logo;
}

.logo img {
    height: 52px;
    margin-bottom: 60px;
}

.conteudo-principal {
    grid-area: conteudo-principal;
    grid-template-columns: 1fr 1fr;
    display: flex;
    max-width: var(--max-width-size);
    margin: 0 auto;
    grid-column-gap: 10px;
}

.conteudo-principal .info {
    width: 50%;
    grid-area: info;
    padding: 12px;
    color: #FFFFFF;
}

.conteudo-principal .info h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-top: 33px;
}

.conteudo-principal .info p {
    font-size: 17px;
    line-height: 25px;
    margin-top: 20px;
}

.conteudo-principal .info .btn {
    margin-top: 27px;
    width: 200px;
    height: 55px;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    color: var(--primari-color-dark);
    font-weight: 400;
    font-size: 17px;
    background-color: #FFFFFF;
    transition: 0.3s;
    cursor: pointer;
}

.conteudo-principal .info a:hover .btn {
    color: #FFFFFF;
    background-color: var(--primari-color-soft);
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 155px;
}

.footer .social i {
    font-size: 18px;
    color: #FFFFFF;
    padding: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    transition: 0.3s;
}

.footer .social a .fab.item1 {
    padding: 8px 12px;
}

.footer .social a:hover i {
    color: var(--primari-color-soft);
    border: 1px solid var(--primari-color-soft);
    border-radius: 50%;
    font-weight: 600;
}

@media(max-width: 750px) {
    body {
        background: url(../images/bg-mobile.svg) no-repeat center center;
        background-color: var(--primari-color-dark);
        
    }
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        text-align: center;
    }

    .logo img {
        height: 32px;
        margin-bottom: 40px;
    }

   .conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
   .conteudo-principal .info {
        width: 100%;
   }

    .conteudo-principal .info h2 {

        font-size: 20px;
    }

    .conteudo-principal .info p {

        font-size: 14px;
    }

    .conteudo-principal .info .btn {
        width: 150px;
        height: 40px;
        font-weight: 400;
        font-size: 14px;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        padding: 35px 0 20px 0;
    }

    .footer .social i {
        font-size: 14px;
    }
}